.item {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__descr {
        width: 420px;
        text-align: center;
        padding: 0 55px;
    }
    &__title {
        font-size: 24px;
    }
    &__text {
        font-size: 14px;
        text-align: left;
        padding: 10px 0
    }
    &__price {
        text-align: left;
        span {
            font-weight: 700;
            font-size: 20px;
            padding: 0 5px;
        }
    }
}
