@import '../../../style/variables.scss';

.goods {
    height: 260px;
    background: url(../../../resources/img/pleasure.jpg) center center/cover no-repeat;
    &__title {
        margin-top: 60px;
        text-align: center;
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: $white;
    }
}
