.about {
    &__wrapper {
        margin: 0 auto;
        width: 590px;
        text-align: center;
        padding-bottom: 101px;
    }
    &__title {
        margin-top: 80px;
        font-size: 24px;
        font-weight: 700px;
        padding-bottom: 20px;
    }
    &__text {
        width: 590px;
        padding-top: 40px;
        font-size: 14px;
    }
}
